:root {
  --black: #171717;
  --blue: #2978a0;
  --white: white;
}
/* About Start */
.about {
  position: relative;
  height: max-content;
  min-height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 10rem;
  transition: all ease-in-out 0.3s;
  overflow-x: hidden;
  background-image: url("../assets/About-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}
.about h1 {
  text-align: center;
  font-weight: 500;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.about .text {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  /* transform: translateX(-200%); */
  transition: 0.3s;
}
.about h2 {
  line-height: 2;
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}
.about p {
  line-height: 3;
  text-align: justify;
  padding-right: 10rem;
}
.Mobile {
  display: none;
}
.about img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  z-index: 1;
  border-radius: 0.5rem;
  scale: 1;
  box-shadow: 0.5rem 0.4rem 0.6rem -0.1rem rgba(0, 0, 0, 0.25);
  transition: all ease-in 0.2s;
}
.personalImage img:hover {
  scale: 1.05;
  box-shadow: none;
}
/* .visible {
  transform: translateX(0) !important;
} */
.personalImage {
  transition: all ease-in 0.3s;
  /* transform: translateX(200%); */
  width: 100%;
  display: flex;
  justify-content: center;

  flex-direction: column;
  margin-bottom: 2rem;
}

.personalImage a {
  background-color: var(--blue);
  border: 0.1rem solid var(--white);
  color: var(--white);
  transition: all ease-in 0.2s;
  height: 3.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0rem;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.personalImage a:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--blue);
  border: 0.1rem solid var(--blue);
}
/* About End */
/* About Phone Start */
@media (max-width: 1100px) {
  .about {
    gap: 0rem;
    padding: 5rem 0rem;
  }
  .about .container {
    padding: 0rem 6rem;
  }
}

@media (max-width: 600px) {
  .about {
    width: 100vw;
    gap: 0rem;
    padding-top: 8rem;
  }
  .about h1 {
    margin: 0;
  }
  .about .container {
    flex-direction: column-reverse;
    padding: 1rem 2rem !important;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .about .text {
    padding-bottom: 0rem;
    gap: 1rem;
    align-items: center;
    text-align: center;
    padding: 0rem 1rem;
    text-align: center;
  }
  .about h2 {
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .about p {
    line-height: 1.5;
    text-align: center;
    padding-right: 0;
  }
  .Desk {
    display: none;
  }
  .Mobile {
    display: block;
  }
  .personalImage {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  .about .container img {
    content: url("../assets/My-Pic-Mobile.png");
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
    background-position: bottom;
    box-shadow: none;
  }
}
/* About Phone End */

/* .hello {
  width: 120%;
  height: 120%;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
} */
