:root {
  --black: #171717;
  --blue: #2978a0;
  --white: white;
}
/* About Start */
.about {
  min-height: 100vh;
  background-color: var(--white);
  transition: all ease-in-out 0.3s;
  overflow-x: hidden;
  background-image: url("../assets/About-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.about img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  z-index: 1;
  border-radius: 0.5rem;
  scale: 1;
  box-shadow: 0.5rem 0.4rem 0.6rem -0.1rem rgba(0, 0, 0, 0.25);
  transition: all ease-in 0.2s;
}
.personalImage img:hover {
  scale: 1.05;
  box-shadow: none;
}
.personalImage {
  transition: all ease-in 0.3s;
  width: 100%;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.personalImage a {
  background-color: var(--blue);
  border: 0.1rem solid var(--white);
  color: var(--white);
  transition: all ease-in 0.2s;
  padding-left: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 100%;
  margin-top : 1rem;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.personalImage a:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--blue);
  border: 0.1rem solid var(--blue);
}
/* About End */
