:root {
  --black: #171717;
  --blue: #2978a0;
  --white: white;
}
/* Contact Start*/
.contact {
  background-color: var(--white);
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
gap: 2rem;
}
.contact h1 {
  font-weight: 500;
}
.contact h2 {
  font-weight: 400;
}
.contactForm {
  background-color: var(--blue);
  border-radius: 0.3rem;
  transition: 0.3s;
}
.contactForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* z-index: 1; */
}
.contactForm form input,
textarea,
button {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
}
.contactForm form input,
button,
textarea {
  padding: 0.5rem !important;
}
input:focus {
  outline-width: 0;
  outline-color: transparent;
}
textarea:focus {
  outline-width: 0;
  outline-color: transparent;
}
button {
  background-color: var(--blue);
  color: white !important;
  border: 0.1rem solid var(--white);
  color: var(--white);
  transition: all ease-in 0.2s;
  height: 3.5rem;
}
button:hover {
  cursor: pointer;
  background-color: var(--white);
  border: 0.1rem solid var(--white);
  color: var(--black) !important;
}
.contact ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  z-index: 1;
  transition: all ease-in 0.2s;
  width: 70% !important;
  margin-inline: auto;
}
.contact ul li a {
  width: 100%;
}
.contact ul li a svg {
  color: var(--black);
  transition: all ease-in 0.2s;
  width: 2.5rem;
  height: 2.5rem;
}
.contact ul li a:hover svg {
  color: var(--blue);
}
.thanks {
  position: fixed;
  background-color: var(--black);
  color: var(--white);
  padding: 5rem;
  box-shadow: 0px 10px 0px 100vw rgba(0, 0, 0, 0.6);
  /* transform: scale(0); */
  transform-origin: center center;
  transition: 0.1s;
}
.thanks .text {
  margin-bottom: 2rem;
}
