:root {
  --black: #171717;
  --blue: #2978a0;
  --white: white;
}
/* Nav Start */
nav {
  position: absolute;
  z-index: 1;
  /* background-color: var(--black); */
  width: 100%;
  padding: 2rem;
}
nav ul li a {
  transition: all 0.2s;
  border: 0.2rem solid transparent;
  padding: 0.5rem 0.3rem;
}
nav ul li:hover a {
  border: 0.2rem solid white;
}

nav ul li:first-child:hover a {
  border: 0.2rem solid transparent;
}
nav img {
  width: 2.5rem;
}
nav img:hover {
  cursor: pointer;
}
nav svg {
  font-size: 2.3rem;
  width: 100%;

  color: var(--white);
  padding-top: 0.2rem;
}
nav svg:hover {
  cursor: pointer;
}
nav a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
nav.hideNav .active {
  background-color: transparent;
}
nav.hideNav .closeNav svg {
  display: block;
}
nav .closeNav:hover {
  cursor: pointer;
}
.hide {
  display: none !important;
}
nav.hideNav {
  justify-content: flex-start;
  padding-bottom: rem;
  padding-top: 2rem;
  height: 5rem;
}
nav.hideNav svg {
  display: none;
}
/* Nav End */
