* {
  list-style-type: none;
  font-family: "Courier Prime", monospace;
}
::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(235, 19%, 35%);
  border-radius: 1rem;
}
a:hover {
  cursor: pointer;
}
body {
  overflow-x: hidden;
}
